<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">Scrapper</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li><a href="javascript:void(0)" (click)="addPage()"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add page</a></li>
                <li *ngIf="pages.length > 0"><a href="javascript:void(0)" (click)="exportAsExcelAll()"><span class="glyphicon glyphicon-cloud-download"></span>&nbsp;Download all as excel</a></li>
                <li *ngIf="pages.length > 0"><a class="nav-link" href="javascript:void(0)" (click)="refreshAll()"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh all</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="alert alert-danger" *ngFor="let it of error">{{it}}</div>
    <div class="alert alert-info" *ngFor="let it of info">{{it}}</div>
    <table *ngIf="pages.length > 0" class="table table-condensed table-striped">
        <thead>
        <tr>
            <th>Page</th>
            <th>Last refresh</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let entry of pages">
            <td>{{entry.page.title}}</td>
            <td>{{entry.page.lastUpdate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>
                <span class="label label-default" *ngIf="entry.page.status == 'NEW'">New</span>
                <span class="label label-info" *ngIf="entry.page.status == 'REFRESHING'">Refreshing</span>
                <span class="label label-success" *ngIf="entry.page.status == 'OK'">OK</span>
                <span class="label label-danger" *ngIf="entry.page.status == 'FAILED'">Failed</span>
                <span *ngIf="entry.task" title="Since {{entry.task.start | date: 'dd/MM/yyyy HH:mm:ss'}}">
                    <button *ngIf="!entry.task.shuttingDown" (click)="stopTask(entry.task)" type="button" class="btn btn-default btn-raised btn-xs"><i class="glyphicon glyphicon-stop"></i>&nbsp;Stop</button>
                    <span *ngIf="entry.task.shuttingDown" class="label label-default">Stopping</span>
                </span>
            </td>
            <td>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-primary" (click)="view(entry.page)"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;View </button>
                    <button type="button" class="btn btn-primary" (click)="exportAsExcel(entry.page)"><span class="glyphicon glyphicon-download" aria-hidden="true"></span>&nbsp;Excel</button>
                </div>
                <div class="btn-group btn-group-sm">
                    <a href="javascript:void(0)" data-target="#" class="btn btn-danger btn-raised dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Admin
                        <span class="caret"></span>
                        <div class="ripple-container"></div></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)" (click)="refresh(entry.page)"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</a></li>
                        <li><a href="javascript:void(0)" (click)="editPage(entry.page)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;Edit</a></li>
                        <li><a href="javascript:void(0)" (click)="deletePage(entry.page)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;Delete</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">{{lastLoaded}}</td>
            </tr>
        </tfoot>
    </table>
    <div *ngIf="pages.length === 0" class="alert alert-warning">
        No pages are defined yet
    </div>

    <div id="page-modal" class="modal modal-fullscreen fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Edit page</h4>
                </div>
                <div *ngIf="page">
                    <my-page [page]="page" (close)="close($event)"></my-page>
                </div>
            </div>
        </div>
    </div>

    <div id="result-modal" class="modal modal-fullscreen fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Results</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" *ngFor="let it of errorResult">{{it}}</div>
                    <div *ngIf="errorResult.length == 0">
                        <div *ngIf="!result">
                            <my-loader></my-loader>
                        </div>
                        <div *ngIf="result">
                            <my-table [result]="result"></my-table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Dismiss</button>
                </div>
            </div>
        </div>
    </div>


