<div class="modal-body">
    <div class="alert alert-danger" *ngIf="error">{{error}}</div>
    <div class="form-group label-floating">
        <label class="control-label" for="title">Title</label>
        <input class="form-control" [(ngModel)]="page.title" placeholder="Enter the title here..." id="title"/>
    </div>
    <div class="form-group">
        <label class="control-label" for="page">Page</label>
        <br />
        <textarea class="form-control" editor data-editor-mode="text/x-groovy" [(ngModel)]="page.page" placeholder="Enter the content of the page here..." id="page"></textarea>
    </div>
    <div class="form-group">
        <label class="control-label" for="config">Configuration</label>
        <br />
        <textarea class="form-control" editor data-editor-mode="application/json" [(ngModel)]="page.config" placeholder="Enter the configuration of the page here..." id="config"></textarea>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="goBack()">Dismiss</button>
    <button type="button" class="btn btn-primary" (click)="save()">Save</button>
</div>
